<div style="margin:auto; width:70%;" ng-init="fav()">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="u in ulubione">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" ng-click="search(u.name)">{{u.name}}</a>
                </h4>
            </div>
            <div id="collapse{{$index}}" class="panel-collapse collapse">
                <div class="panel-body" ng-bind="desc"></div>
            </div>
        </div>
    </div>
</div>