<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WpólDoKotleta</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        <div class="jumbotron">
            <div class="container text-center">
                <h1>WpółDoKotleta</h1>
                <p>Przepisy, dania, gotowe pomysły!</p>
            </div>
        </div>
        <div style="margin:auto;width:70%">
            <div class="form-group">
                <label for="products">Posiadane produkty:</label>
                <input type="text" class="form-control" id="products">
            </div>
            <button type="button" id="btn" ng-click="pobierz()">testuj</button>
            <p><a href="zaloguj.html"> Aby uzyskać dodatkowe opcje zaloguj się!</a></p>
        </div>
        <div style="margin:auto; width:70%;">            
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" ng-repeat="p in przepisy">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}">{{p.name}}</a>
                        </h4>
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse">
                        <div class="panel-body">{{p.desc}}</div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./przepisy2.js"></script>
    </body>
</html>